<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express file upload by multer</title>
</head>
<body>
    <!-- Hello World <%= name %> -->
    <form action="http://localhost:3000/" method="post" enctype="multipart/form-data"  >
        <!-- <input type="text" name="name" /> -->
        <input type="file" name="avatar" multiple />
        <!-- <input type="file" name="gallery" multiple /> -->
        <input type="submit" name="submit"/>
    </form>
</body>
</html>